* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background: grey;
}

article {
    max-width: 375px;
    background: #FFF;
    margin: auto;
    padding: 0 10px 30px;
}

img {
    width: calc(100% + 20px);
    margin: 0 -10px;
    object-fit: cover;
    object-position: top; /* CAT */
    height: 215px;
}

h2 {
    font-family: 'PT Serif', sans-serif;
    font-weight: 700;
    font-size: 24px;
}

.published-date {
    font-family: 'Public Sans', sans-serif;
    font-size: 14px;
    opacity: 0.75;
    margin: 5px 0px;
}

p {
    font-family: 'Roboto', sans-serif;
}

.article-text p {
    margin-bottom: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 6; /* Only display 6 lines of text*/
    overflow: hidden; /* Hide the rest */
    -webkit-box-orient: vertical;
}

.article-text p:last-child {
    margin-bottom: 0;
}

.article-text p:first-child {
    position: relative;
}

.article-text p:first-child:after { /* :after is used to position the absolute block dynamically to where the parent (p tag) ends */
    content: ""; /* To come into existance */
    position: absolute;
    width: 100%;
    top: 50%; /* Content block begins 50% from the top of parent (p tag) */
    left: 0; /* Begin at the left edge of parent, defaults to end of p tag without this */
    height: 50%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 50%);
    /* background-color: tomato; */
}

.article-text p:not(:nth-child(1)) { /* Only display first p tag */
    display: none;
}

article footer {
    display: flex;
    justify-content: space-between;
    margin: 10px 0 4px;
}

article footer a, a:visited {
    text-decoration: none;
    color: black;
}

article footer .likes { /* keep in mind that adding selectors increases specificity (overrides top to bottom prioritization) */
    display: flex;
    align-items: center;
}

article footer .read-more {
    display: flex;
    align-items: center;
    margin: 0 7px 0;
}

hr {
    border: 2px solid #c4c4c4;
}